alembic
boto3
botocore
celery[redis]
fastapi
flower
google-genai
httpx
kombu
numpy>=2.2.5
pandas>=2.2.3
psycopg[binary]
PyJWT
pydantic
python-docx
python-dotenv
python-multipart
pytest
redis
scikit-learn>=1.6.1
sqlalchemy
uvicorn[standard]